.banner {
    background: url(../img/office.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 140px;
    margin: auto;
    height: 140px;
    color: #fff;
    background-color: #6c757d;
}

.lingkaran i {
    position: relative;
    top: 40px;
}

.crop-img{
    object-fit: cover;
}

.tim img {
    width: 250px;
    border: 10px solid #CCCCCC;
}